body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050210;
  }
  
  .circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    animation: animate 1s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circle span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  }
  
  .circle span:nth-child(1) {
    filter: blur(5px);
  }
  
  .circle span:nth-child(2) {
    filter: blur(12px);
  }
  
  .circle::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #050210;
    border-radius: 50%;
  }

.ripple {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #050210;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
}
.ripple::after{
    content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #0d032e;
}
.ripple::before{
    animation: ripple 1s ease-out infinite;
}
.ripple::after{
    animation: ripple 1s ease-out infinite;
}
@keyframes ripple{
    0%{
        transform: scale(0);
        opacity: 100;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
     }